# PostgreSQL (usados pelo docker-compose e pelo Django)
POSTGRES_DB=humor_db
POSTGRES_USER=humor_user
POSTGRES_PASSWORD=humor_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Django
DJANGO_SECRET_KEY=troque-por-uma-chave-segura
DJANGO_DEBUG=True
