{% extends "base.html" %}
{% load static %}

{% block title %}Login – Moodly{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<div class="login-container">

  <div class="login-left">
    <img src="{% static 'img/logo.png' %}" alt="Moodly" class="login-logo">
  </div>

  <div class="login-right">

    <div class="login-card">

      <div class="login-title">Moodly</div>

      <div class="login-subtitle">
        Cuidar da mente também é cuidar da saúde
      </div>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
          Usuário ou senha inválidos. Tente novamente.
        </div>
        {% endif %}

        <div class="mb-3">
          <input type="text" name="username" class="form-control" placeholder="E-mail" required>
        </div>

        <div class="mb-3">
          <input type="password" name="password" class="form-control" placeholder="Senha" required>
        </div>

        <button type="submit" class="login-btn">
          Entrar
        </button>

      </form>

      <div class="text-center mt-3">
        Não tem conta?
        <a href="#">Criar Conta</a> <!-- Wip -->
      </div>

    </div>

  </div>

</div>

{% endblock %}